<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Tarefa</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeWindow()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="note">
    <ion-item>
      <ion-label position="stacked">Descrição da tarefa</ion-label>
      <ion-input [(ngModel)]="note.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Detalhes</ion-label>
      <ion-textarea [(ngModel)]="note.text" rows="8"></ion-textarea>
    </ion-item>

    <div *ngIf="note.status === false; else conditionFalse">
      <ion-button expand="block" color="success" (click)="updateStatusNote(true)">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        Concluir
      </ion-button>
    </div>

    <ng-template #conditionFalse>
      <ion-button expand="block" color="warning" (click)="updateStatusNote(false)">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        Desfazer
      </ion-button>
    </ng-template>

    <ion-button expand="block" color="secondary" (click)="updateNote()">
      <ion-icon name="save" slot="start"></ion-icon>
      Atualizar
    </ion-button>

    <ion-button expand="block" color="danger" (click)="deleteNote()">
      <ion-icon name="trash" slot="start"></ion-icon>
      Deletar
    </ion-button>
  </div>
</ion-content>
